#sidebar {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 50px;
	background-color: cyan;
	z-index: 2;
	overflow-x: hidden;
	overflow-y: auto;
	white-space: nowrap;
	transition: width 1s;
}

#sidebar:hover {
	width: 150px;
}

#sidebarContent {
	position: relative;
	left: 10px;
}

.sidebarTitle {
	display: none;
	position: absolute;
	left: 30px;
	align-self: center;
}

#sidebar:hover .sidebarTitle {
	display: inline;
}

.sidebarCurrentChoice {
	left: -5px;
	width: 120px;
	position: relative;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}

#sidebar:hover .sidebarCurrentChoice {
	background-color: #00ff00;
}

#sidebar:hover .sidebarCurrentChoice .sidebarTitle {
	left: 35px;
}

body {
	position: absolute;
	left: 70px;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: underline;
}

hr {
	border: none;
	border-top: 1px solid #ccc;
	margin: 20px 0;
	left: -10px;
	position: relative;
}

blockquote {
	margin: 20px 0;
	padding: 10px 20px;
	background-color: #f9f9f9;
	border-left: 5px solid #ccc;
}

.block-item {
	background-color: lightgray;
	display: inline-block;
	padding: 10px;
	border: 5px solid;
	border-radius: 10px;
}

table, th, td {
	border: solid black;
}