#sidebar {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 50px;
	background-color: cyan;
	z-index: 2;
	overflow-x: hidden;
	overflow-y: auto;
}

#sidebar:hover {
	width: 130px;
}

#sidebarContent {
	position: relative;
	left: 10px;
}

.sidebarTitle {
	display: none;
	position: absolute;
	left: 30px;
	align-self: center;
}

#sidebar:hover .sidebarTitle {
	display: inline;
}

#content {
	position: absolute;
	left: 70px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: white;
	color: black;
	z-index: 1;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: underline;
}