a, .buttonInTable {
	color: light-dark(blue, cyan);
}

a {
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: underline;
}

blockquote, body, nav:hover .sidebarCurrentChoice {
	background-color: light-dark(lightgray, darkgray);
}

button, input[type=submit] {
	background-color: unset;
    padding: 5px;
    border: solid 1px;
    border-radius: 5px;
}

blockquote {
	border-left: 5px solid;
	margin: 20px 0;
	padding: 10px 20px;
}

nav, textarea, .card {
	color: light-dark(black, white);
	background-color: light-dark(white, black);
}

body {
	position: absolute;
	left: 70px;
	right: 0;
}

button:hover {
	cursor: pointer;
}

button:disabled:hover {
	cursor: not-allowed;
}

details {
	border: solid;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
}

details[open] > summary {
	border-bottom-style: dotted;
    border-radius: 5px;
	margin-bottom: 5px;
}

hr {
	border: none;
	border-top: 1px solid;
	margin: 20px 0;
	position: relative;
}

pre {
	overflow: auto;
}

pre, code:not(pre code) {
	background-color: light-dark(lightgray, darkgray);
	padding: 5px;
	border-radius: 5px;
}

table, thead, tbody, tr, th, td {
	border: solid 1px;
	border-spacing: 0;
}

th, td {
	padding: 5px;
}

nav {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 50px;
	padding: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	white-space: nowrap;
	transition: width 0.5s;
	z-index: 1;
}

nav > p, nav > h3 {
	height: 23px;
}

nav:hover {
	width: 170px;
}

.sidebarTitle {
	display: none;
	position: absolute;
	left: 40px;
}

nav:hover .sidebarTitle {
	display: inline;
}

.sidebarCurrentChoice {
	left: -5px;
	width: 120px;
	position: relative;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}

nav:hover .sidebarCurrentChoice .sidebarTitle {
	left: 35px;
}

#messageList {
	position: fixed;
	right: 5%;
	top: 5%;
	bottom: 5%;
	overflow: auto;
	pointer-events: none;
}

.message {
	border: solid;
	border-radius: 10px;
	padding: 5px;
	padding-right: 30px;
	margin-bottom: 5px;
	transition: opacity 1s linear;
	position: relative;
	overflow: auto;
	pointer-events: auto;
}

.message-close-button {
	position: absolute;
	right: 10px;
	top: 10px;
}

.buttonInTable:hover {
	cursor: pointer;
}

.disabledButtonInTable {
	color: darkgray;
}

.disabledButtonInTable:hover {
	cursor: not-allowed;
}

.supported {
	text-align: center;
	color: white;
	background-color: green;
	border-color: inherit;
}

.unsupported {
	text-align: center;
	color: white;
	background-color: red;
	border-color: inherit;
}

.error {
	color: red;
	font-weight: bold;
}

.card {
	border: 1px solid lightgray;
	border-radius: 10px;
	box-shadow: 0 0 5px light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
	padding: 10px;
}